<% if @products.blank? %>
  <h2> No products to display </h2>
<% else %>
	<h2> List of Products </h2>
  <table>
  	<tr>
  		<th>Name</th>
			<th></th>
			<th></th>
		</tr>
  	<% @products.each do |product| %>
	  	<tr id='id_<%= product.id %>'>
  		<td><%= link_to product.title, product %></td>
  		<% if current_user %>
  			<td><small><%= link_to '(Edit)',{ :action=>'edit',:id=>product.id } %> |</small></td>
    		<td><small><%= link_to '(Delete)', product, method: :delete, confirm: 'Are you sure?', remote: true %></small></td>
  		<% end %>
			</tr>
  	<% end %>
  </table>
<% end %>

<% if current_user %>
	<%= form_tag '/products/search', method: :get do %>
		<%= text_field_tag :q %>
		<%= submit_tag 'Search' %>
	<% end %>
<% end %>

<% if current_user %>
	<%= link_to 'Add Product', new_product_path %>
<% end %>
